/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Oxygen:700&display=swap');

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, path,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, svg, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
  border: 0;
}

.background-image-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-image{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
 
.nav-ul {
  padding-top: 15px;
  padding-right: 135px;
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; */
}

.link-li {
  padding: 8px 15px;;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  font-family: 'Oxygen', sans-serif;
}

.link-li:hover {
  border-bottom: 2px solid;
}

.form-box {
  background-color: white;
  margin-left: 100px;
  margin-top: 59px;
  border-radius: 4px;
  padding: 32px 32px 24px 32px;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12); 
  width: 349px;
  height: 378px;
}

.input-label{
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.input-label-title {
  font-size: 14px;
  font-weight: 800;
  font-family: 'Oxygen', sans-serif;
  color: #484848;
  padding-bottom: 10px;
}

.form-input{
    width: 97%;
    height: 24px;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
}

/* .navbar-div {
  width: 100%;
  height: 20px;
} */

.session-submit {
  background-color: #ff5a5f;
  padding: 10px 22px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Oxygen', sans-serif;
  color: white;
  margin-left: auto;
  cursor: pointer;
  margin-right: 3px;
}

.logo {
  fill: white;
  margin-right: auto;
  margin-left: 9px;
  width: 31px;
  margin-top: -4px;
}

.logo:hover {
  border-bottom: 2px solid transparent;
}

.welcome-greeting {
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.form-options {
   font-family: 'Oxygen', sans-serif;
   font-size: 16px;
   margin: auto;
   padding-bottom: 12px;
   padding-top: 0px;
   padding-left: 10px;
}

.welcome-text {
  font-size: 26px;
  line-height: 36px;
  letter-spacing: normal;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  color: #484848;
  padding-left: 8px;
}

.link-hover {
  text-decoration: none;
  color: #484848;
}

.link-hover:hover {
  color: #ff5a5f
}